.contact-content{
    height: 80vh;
    margin-top: 32px;
    padding: 9px;
    position: relative;
    display: flex;
    align-items: center;
    justify-items:flex-start;
}

.contact-content::after{
    content: "";
    background-image: url("/article1.jpg");
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
}
.formbox input, textarea{
    width: 45vw;
    padding: 10px 7px;
    margin: 7px;
}
